@model int

<div class="container pt-4 text-center">
    <div class="col-12 mb-4">
        <h1 class="text-warning fw-bold text-uppercase">Order Placed Successfully!</h1>
        <p class="fw-semibold">Your Order Number is: <span class="text-dark">@Model</span></p>
        <img src="~/images/lawn_leaf.jpg" class="img-fluid rounded" style="max-width:65%;" />
    </div>

    <div class="col-12">
        <p class="text-secondary fw-semibold">
            Your order has been placed successfully!
        </p>
    </div>
</div>
